.Dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 2.8;

}

.DialogsItems {
    margin: 15px 10px;
}

.textareaItem {
    padding-left: 15px;
    margin-top: 15px;
    line-height: 1.8;
}

.btn {
    margin-bottom: 20px;

}

.DialogsItem {
    color: #333;
    margin-bottom: 20px;
    text-decoration: none;
}

.active {
    color: indianred;
    text-decoration: none;
}

.Dialog {
    display: flex;
}

.Message {
    color: #333;
    font-style: italic;

}

.Icon {
    padding-right: 10px;
    color: #FFEFD5;
    font-size: 40px;
}